.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
  font-size: 18px;
  height: fit-content;
  max-width: 150px;
  border-radius: 20px;
}

.card-img {
  display: flex;
  border-radius: 20px;
}

.card-img img {
  width: 100%;
  border-radius: 20px;
}

.movie-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-top: 10px;
}

.movie-details h1 {
  font-size: 16px;
}

.movie-details h1,
.movie-details p {
  margin: 2px 0;
}

.card:hover {

  .card-img img {
    cursor: pointer;
    box-shadow: 0 3px 17px rgb(85, 250, 3);
  }

  .movie-details h1 {
    text-decoration: underline;
    font-size: 18px;
  }

}


@media screen and (max-width: 420px) {
  .card-img {
    height:250px
  }

  .card {
    font-size: 14px;
  }
}

@media screen and (max-width: 325px) {
  .card-img {
    height: 350px
  }
}