.movie_card_section {
  margin: 2% 10%;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr));

}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 30px 0;
}

.form-container form {
  width: 30%;
  display: flex;
  justify-content: space-between;
} 

.form-container input {
  border: 3px solid rgb(8, 123, 19);
  border-radius: 20px;
  height:30px;
  width: 95%;
  font-size: 20px;
}

.clear {
  text-decoration: none;
}

@media screen and (max-width: 420px) {
  .movie_card_section {
  margin: 2% 3%;
    grid-template-columns: repeat( 2, minmax(150px, 1fr));
  }

  .form-container form {
    width:40%
  }

  .form-container input {
    height: 20%;
  }

}